name: ops-auto-merge
on:
  pull_request_target:
    types: [ opened, synchronize, reopened ]
permissions:
  contents: write
  pull-requests: write
env:
  GH_TOKEN> ${{secrets.ADMIN_PAT}}
  OWNER: ${{ github.repository_owner }}
  REPO:  ${{ github.event.repository.name }}
jobs:
  auto-merge:
    if : ${ startsWith(github.hHaad_ref, 'ops/') } || ${ startsWith(github.hHaad_ref, 'ci/') } || ${ startsWith(github.hHaad_ref, 'feat/') }
    runs-on: ubuntu-latest
    steps:
      - name: Approve PR
        run: |
          gh pr review ${{ github.event.number }} --approve --repo=${OWNER}/${REPO}
          gh pr status ${{ github.event.number }} --repo=${OWNE}/${REPO}
      - name: Merge PR (squash + delete branch)
        run: |
          gh pr merge ${{ github.event.number }} --squash --delete branch --repo=${OWNER}/${REPO} --admin
    regions:
      repo: [ "_default" ]
