on:
  workflow_dispatch:
  schedule:
    - cron: '* * * * *'

name: Rube Orchestrator

defaults: 
  github_reference: main
  config_file: rube-meta.json
  script:rube: rube-runner.py

job:
  run:
    name: Ran rube controller
    env:
      RUBE_TOKEN: {{ secrets.rube_token }}
      GIT_REFERENCE: {{ github_reference }}
      CONFIG_FILE: {{ config_file }}
      SCRIPT_FILE: {{ script:rube }}
      steps:
        - name: Ran rube-runner.py with config
          run: rube-runner.py
          env:
            RUBE_TOKEN: {{ secrets.rube_token }}
            GIT_REFERENCE: {{ github_reference }}
            CONFIG_FILE: {{ config_file }}
            SCRIPT_FILE: {{ script:rube }}
