on:
  workflow_dispatch:
  schedule:
    - cron: '* * * * *'

name: Rube Self Orchestrator

defaults:
  github_reference: main
  config_file: rube-meta.json
  script:rube: rube-runner.py

jobs:
  run:
    name: run-rube
    runs-on: ubuntu-latest
    env:
      RUBE_TOKEN: ${{ secrets.rube_token }}
      GIT_REFERENCE: ${{ github_reference }}
      CONFIG_FILE: ${{ config_file }}
      SCRIPT_FILE: ${{ script:rube }}
    steps: 
      - name: Run rube-runner.py
        run: python ${{ env.SCRIPT_FILE }}
        env:
          RUBE_TOKEN: ${{ secrets.rube_token }}
          GIT_REFERENCE: ${{ github_reference }}
          CONFIG_FILE: ${{ config_file }}
          SCRIPT_FILE: ${{ script:rube }}
